In [2]:
food = "Python's favorite food is perl"

In [3]:
food

"Python's favorite food is perl"

In [4]:
food = 'Python\'s favorite food is perl'

In [6]:
food = "\"it\'s good\""

In [8]:
print(food)

"it's good"

In [15]:
multiline ="""
Life is too short.
You need python.
you will success
"""
print(multiline)

Life is too short.
You need python.
you will success

In [16]:
a= '20010331'
a[0:8]

'20010331'

In [24]:
a = "20010331Rainy"
>>> year = a[0:4]
>>> day = a[4:8]
>>> weather =a[8:15]

In [25]:
weather

'Rainy'

In [19]:
day

'0331'

In [27]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [30]:
print(a)

Life is too short

In [43]:
f"{'hi dddd ddddd':d^20}"

'dddhi dddd ddddddddd'

In [58]:
name = '봄'

print(f"{name:^20}은 언제 오나. 너무 춥다")

^^^^^^^^^봄^^^^^^^^^^은 언제 오나. 너무 춥다

In [61]:
y = 3.42134234
f"{y:0.6f}"

'3.421342'

In [89]:
# 문자 개수 세기
a = "1234512-39"
a.count('2')

2

In [92]:
# 처음 나온 위치 알려주기
a.find('2')
a.find('-3')

7